<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SistemaDeNomina.mdf;Initial Catalog=SistemaDeNomina;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Sistema_de_Nomina.Properties.Settings.Sistema_de_NominaConnectionString"
      connectionString="Data Source=DESKTOP-AR676DC\SQLEXPRESS;Initial Catalog=Sistema_de_Nomina;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Sistema_de_Nomina.Properties.Settings.SistemaDeNominaConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\SistemaDeNomina.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="Sistema_de_Nomina.Properties.Settings.SistemaDeNominaConnectionString1"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SistemaDeNomina.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="connectionString" value="&#xD;&#xA;&#xD;&#xA;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\Cristopher Solano\Documents\Sistema_de_Nomina\Sistema_de_Nomina\App_Data\SistemaDeNomina.mdf';Integrated Security=True;Connect Timeout=30"


         />
  </appSettings>
</configuration>
